<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link type="text/css" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body>
    <div class="grid place-items-center grid-col p-5 gap-5">
        <h1 class="text-5xl">LOGO</h1>
        <img style="width: 250px;"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png"
            alt="">
        <p class="text-xl">Ola como vamos aprender a desenvolver jogos</p>
        <div class="flex p-5 gap-5">
            <span class="text-xl">Nome</span>
            <span class="text-xl">{{nome}}</span>
        </div>
    </div>
</body>

</html>